<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/COMP4203Exercise5/src/exercise5/DSSSSimulation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="exercise5.DSSSSimulation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="COMP4203Exercise5"/>
</launchConfiguration>
